@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.start-button,
.try-new-pair-button {
  margin-top: 3rem;
  width: 30%;
  padding: 1rem;
  font-size: 15px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: #262626;
  font-family: 'Poppins', sans-serif;
  transition: .3s;
  font-weight: 500;
}

.start-button:hover,
.start-button:focus {
  background-color: #101010;
}

.try-new-pair-button {
  background-color: #404040;
}

.try-new-pair-button:hover,
.try-new-pair-button:focus {
  background-color: #808080;
}

.score-container {
  background-color: #f2f2f2;
  padding: 18px 158px 23px 159px;
  text-align: center;
  font-size: 32px;
  margin-bottom: 2rem;
}

.card {
  padding: 13px 0;
  text-align: center;
  border-radius: 6px;
  border: solid 1px #1a1a1a;
  background-color: #1a1a1a;
  color: #fff;
  cursor: pointer;
  height: 75px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

.card:hover,
.card:focus {
  background-color: #101010;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 138px);
  grid-auto-rows: 1fr;
  gap: 16px 16px;
  margin: 0 auto;
  width: fit-content;
  padding: 24px 0 33px 0;
}

.card.selected {
  background-color: initial;
  color: #141c3a;
  border: solid 1px #141c3a;
}

.card.matched {
  color: #4fe0b0;
}

.card.no-match {
  color: #fd4d3f;
}

.logo-placeholder {
  width: 55px;
}